<!-- <style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem ;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    margin-right: 0.5rem;
    display: inline;
  }
  .search-input{
    border-radius: 25px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1rem;
  }

</style>


<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
   <div  class="container-fluid">
  <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/listing">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search Destination" >
          <button class="btn search-btn" type="submit" ><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link" href="/listing/new">Airbnb your home</a>
      <%if(!currUser){ %>  
          <a class="nav-item nav-link " href="/signup"><b>SignUp</b> </a>
          <a class="nav-item nav-link" href="/login"><b>Login</b></a>
       <% } %> 
       <%if(currUser){ %>  
        <a class="nav-item nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
  </nav> -->



  <style>
    .search-btn {
      background-color: #fe424d;
      color: #fff;
      border-radius: 25px;
      padding: 0 1rem;
    }
    .search-btn:hover {
      background-color: #e63641;
      color: #fff;
    }
    .search-btn i {
      margin-right: 0.5rem;
      display: inline;
    }
    .search-input {
      border-radius: 25px;
      padding: 0.5rem 2rem;
      font-size: 1rem;
      border: 1px solid #ced4da;
      margin-right: 0.5rem;
    }
  
    .navbar-brand {
      font-size: 1.5rem;
      color: #fe424d;
    }
    .navbar-brand:hover {
      color: #e63641;
    }
    .nav-item.nav-link {
      margin-left: 1rem;
      font-size: 1rem;
      color: #333;
    }
    .nav-item.nav-link:hover {
      color: #fe424d;
    }
  
    .navbar {
      padding: 0.5rem 1rem;
    }
  </style>
  
  <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/listing">Explore</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control search-input" type="search" placeholder="Search Destination">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-item nav-link" href="/listing/new">Airbnb your home</a>
          <% if (!currUser) { %>  
            <a class="nav-item nav-link" href="/signup"><b>SignUp</b></a>
            <a class="nav-item nav-link" href="/login"><b>Login</b></a>
          <% } %> 
          <% if (currUser) { %>  
            <a class="nav-item nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
  